In [27]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [28]:
city = "cities.csv"

In [29]:
city_data = pd.read_csv(city)
city_data

,City,lat,temp,sunrise,sunset,solar_rad,day_length
0,oiso,35.31558,18.3,10/27/2020 20:59,10/27/2020 7:52,411.5,653
1,mahebourg,-20.40806,21.1,10/27/2020 1:30,10/27/2020 14:16,66.6,766
2,khormuj,28.65430,6.0,10/27/2020 2:39,10/27/2020 13:47,0.0,668
3,palmer,10.74055,28.0,10/27/2020 10:49,10/27/2020 22:36,0.0,707
4,pokhara,28.26689,23.9,10/27/2020 0:25,10/27/2020 11:42,259.5,677
...,...,...,...,...,...,...,...
630,codrington,17.63333,27.5,10/27/2020 10:03,10/27/2020 21:38,0.0,695
631,vaitupu,-13.22700,26.4,10/27/2020 16:54,10/27/2020 5:28,834.0,754
632,college,64.85694,-2.8,10/27/2020 17:23,10/27/2020 1:48,0.0,505
633,dimbokro,6.64678,25.5,10/27/2020 6:00,10/27/2020 17:58,0.0,718
634,milkovo,45.88222,8.7,10/27/2020 4:15,10/27/2020 14:28,0.0,613

In [30]:
# print (f"IQR= {IQR}, Q1= {Q1}, Q3={Q3}, mean = {mean}")
city_data = city_data[(city_data['lat'] >= 0) & (city_data['lat']  <= 45)]
city_data

,City,lat,temp,sunrise,sunset,solar_rad,day_length
0,oiso,35.31558,18.3,10/27/2020 20:59,10/27/2020 7:52,411.5,653
2,khormuj,28.65430,6.0,10/27/2020 2:39,10/27/2020 13:47,0.0,668
3,palmer,10.74055,28.0,10/27/2020 10:49,10/27/2020 22:36,0.0,707
4,pokhara,28.26689,23.9,10/27/2020 0:25,10/27/2020 11:42,259.5,677
5,areka,7.06667,23.6,10/27/2020 2:56,10/27/2020 14:57,0.0,721
...,...,...,...,...,...,...,...
613,santa rosa,4.04906,11.9,10/27/2020 10:41,10/27/2020 22:39,0.0,718
619,baneh,35.99750,10.6,10/27/2020 3:15,10/27/2020 14:08,0.0,653
628,impfondo,1.61804,21.5,10/27/2020 4:30,10/27/2020 16:29,0.0,719
630,codrington,17.63333,27.5,10/27/2020 10:03,10/27/2020 21:38,0.0,695
633,dimbokro,6.64678,25.5,10/27/2020 6:00,10/27/2020 17:58,0.0,718